parameters:
    level: 8

    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - '*/Fixture/*'
        - '*/Source/*'

    checkGenericClassInNonGenericObjectType: false

    ignoreErrors:
        # always mixed
        - '#Method Tomasvotruba\\Laratyped\\Tests\\Rule(.*?)testRule\(\) has parameter \$expectedErrorsWithLines with no value type specified#'
