parameters:
    level: 8

    paths:
        - src
        - tests

    reportUnmatchedIgnoredErrors: false

    excludePaths:
        - '*/Fixture/*'
        - '*/Source/*'

    checkGenericClassInNonGenericObjectType: false
